*
  box-sizing border-box

body
html
  font-family "Neo Sans", sans-serif
  font-size 14pt
  padding 0
  margin 0




#app
  border .2em solid rgba(0, 0, 0, .5)
  height 100%
  width 100%


.page
  &-section
  &-container
    background rgba( 0, 0, 0, .1)

  &-section
    border .2em solid orangered
  &-container
    border .2em solid indianred
